.git
.github
.agents
.cursor
.editorconfig
.idea
.vscode
node_modules
npm-debug.log
yarn-error.log
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/logs/.gitignore
tests
.env
.env.*
!.env.example
*.sqlite
*.sqlite-journal
