{
	{$CADDY_GLOBAL_OPTIONS}
	admin off
	frankenphp
}

http://:{$PORT:80} {
	root * /var/www/html/public
	encode zstd br gzip

	# Security Headers
	header {
		X-Frame-Options "SAMEORIGIN"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
	}

	# Run Laravel with native FrankenPHP
	php_server
}
